{%extends "homepage.html"%}

{%block content%}
    <form method="post">
      <div class="panel panel-primary">
        <div class="panel-heading">{{pro[1]}}</div>
        <div class="panel-body">
            <table class="table">
                <tr><td>Product Name</td>
                <td>{{pro[1]}}
                    <input type="hidden" name="pid" value="{{pro[0]}}"/>
                </td></tr>
                <tr><td>Price</td>
                <td>{{pro[2]}}</td></tr>
                <tr><td>Description</td>
                <td>{{pro[3]}}</td></tr>
                <tr><td>Image</td>
                <td><img src="{{ url_for('static',filename=pro[4])}}" 
            class="img-responsive" style="width:120px;height: 100px;" alt="Image"></td></tr>
            <tr><td>Category</td>
            <td>{{pro[5]}}</td></tr>
            <tr><td>Select Quantity</td>
            <td><select name="qty" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select></td></tr>
            </table>
        </div>
        <div class="panel-footer">
         
            <button type="submit" class="btn btn-danger" >Add to Cart</button>
      </div>
    </div>
</form>
{%endblock%}